/* =============================================
   TEAM 7 - SPORTZONE - SHARED STYLESHEET
   =============================================
   Add your shared styles here.
   All pages link to this file.
   ============================================= */


/* GLOBAL STYLES */


/* NAVBAR */
.side-navbar{
    background-color:#1D232C ;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0%;
    right: 0%;
    padding: 20px;
    color: white;
    transition: 0.5s;
    z-index: 20;
}
.side-navbar-links{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.side-navbar-link a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.side-navbar-link a:hover{
    text-decoration: underline;
}

/* BUTTONS */


/* PRODUCT CARD */


/* FOOTER */


/* FORM STYLES */
